<nav class="navbar navbar-light bg-success">
  <a class="navbar-brand" href="#">GPT-3</a>
</nav>

<div class="container">
  <br />
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <form class="card card-sm">
        <div class="card-body row no-gutters align-items-center">
          <div class="col-auto">
            <i class="fas fa-search h4 text-body"></i>
          </div>
          <!--end of col-->
          <div class="col">
            <input #param class="form-control form-control-lg form-control-borderless" type="search"
              placeholder="Fale com a IA">
          </div>
          <!--end of col-->
          <div class="col-auto">
            <a class="btn btn-lg btn-success" (click)="getResult(param.value)" type="submit">Pequisar</a>
          </div>
          <!--end of col-->
        </div>
      </form>
    </div>



    <div class="col-12 col-md-10 col-lg-8">
      <br />

      <div *ngIf="showLoading" style="text-align: center">
        <div class="spinner-grow text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-danger" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-warning" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-light" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div *ngIf="showResult">
        <label for="exampleFormControlTextarea5">Resultado:</label>
        <textarea disabled class="form-control" rows="3">{{texto}}</textarea>
      </div>

    </div>

  </div>
</div>
<router-outlet></router-outlet>